<li id="product_types-<%= ProductType.id %>">
<%#= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
<span class="type"><%= ProductType.type %></span>
<span class="modelID"><%= ProductType.modelID %></span>
<span class="timestamp">
Posted <%= time_ago_in_words(ProductType.created_at) %> ago.
</span>
</li>