/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*for units and product type*/
form#form{
    width:40%;
    margin-left: 30%;
    
}
#form-btn{
    margin-left: auto;
}
/*checkout*/
select#unit_location{
    width: 50%;
}
form#form select#unit_location{
    width: 100%;
}
#admin-checkout{
    margin-left: auto;
    padding-left: 12px;
    width: 50%;
}
input{
    width: auto;
}

btn-primary{
    text-align: center;
}
/*user*/
#update-admin-btn{
    margin-left: auto;
}

/*#unit_product_type_id{*/
/*    width: 30%;*/
/*}*/

/*sidebar button*/
#sidebarCollapse{
    background-color: black;
    border-color: black;
}
#icon-position{
    margin-bottom: 0;
    margin-top: 10px;
}
.container-fluid{
    padding-left: 0;
}
/*.ul.lisst-unstyled.components{*/
/*    padding-top: 0;*/
/*}*/
#pull-menu{
     visibility: hidden;
}