  <!--sidebar-->
  <nav id = "sidebar">
    <!--<div class = "sidebar-header">-->
    <!--  <h3>Bootsrap Slider</h3>-->
    <!--</div>-->
    <ul class = "lisst-unstyled components">
      <!--<p>Provider</p>-->
      <li>
        <a href = "#" style="color: white;"> Dashboard</a>
      </li>
      <li class = "active">
        <a href = "#homeSubmenu" data-toggle = "collapse" aria-expanded = "false" class = "dropdown-toggle">Inventory</a>
        <ul class = "collapse lisst-unstyled" id="homeSubmenu">
          <li>
            <a href = "/units"> All Inventory</a>
          </li>
          <li>
            <a href = "/product_types"> Add Type</a>
          </li>
          <li>
            <a href = "/borrowed_units"> Borrowed Units</a>
          </li>
          <li>
            <a href = "/checkout"> Checkout</a>
          </li>
          <li>
            <a href = "/returns"> Current List/Return</a>
          </li>
        </ul>
      </li>
      <li class = "active">
        <a href = "#pageSubmenu" data-toggle = "collapse" aria-expanded = "false" class = "dropdown-toggle">Admin Options</a>
        <ul class = "collapse lisst-unstyled" id="pageSubmenu">
          <li>
            <a href = "/create_user"> Create User</a>
          </li>
          <li>
            <a href = "#"> Verify User</a>
          </li>
          <li>
            <a href = "/request_checkout"> Requests for Checkout</a>
          </li>
          <li>
            <a href = "/request_return"> Verify Return</a>
          </li>
          <li>
            <a href = "#"> Reports</a>
          </li>
          <li>
            <a href = "#"> Users</a>
          </li>
          <li>
            <a href = "#"> Website Status</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>